.git
.idea
*.code-workspace
node_modules
nbproject

# devel junk
.devel

# npm package files
iobroker.*.tgz

Thumbs.db

# i18n intermediate files
admin/i18n/flat.txt
admin/i18n/*/flat.txt
test_regex.txt
dump.txt
main.js.alt
